<center>
<h1> EDA with SQL for Space X First Stage Landing Prediction
</center>

**To do:** 
1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions
    
Data Set URL: 
<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDS0321ENSkillsNetwork26802033-2021-01-01">SpaceX</a>

This data set was uploaded into a Bd2 instance using my account in IBM

In [2]:
#!pip install sqlalchemy==1.3.9
#!pip install ibm_db_sa
#!pip install ipython-sql

In [3]:
# Loading the SQL extension
%load_ext sql

In [18]:
# Remember the connection string is of the format:
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
%sql ibm_db_sa://

In [19]:
#Display the names of the unique launch sites in the space mission
%sql select distinct LAUNCH_SITE from SPACEXDATASET

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('CCAFS LC-40',), ('CCAFS SLC-40',), ('KSC LC-39A',), ('VAFB SLC-4E',)]

In [20]:
# Display 5 records where launch sites begin with the string 'CCA'
%sql select * from SPACEXDATASET where LAUNCH_SITE like '%CCA%' limit 5

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[(datetime.date(2010, 6, 4), datetime.time(18, 45), 'F9 v1.0  B0003', 'CCAFS LC-40', 'Dragon Spacecraft Qualification Unit', 0, 'LEO', 'SpaceX', 'Success', 'Failure (parachute)'),
 (datetime.date(2010, 12, 8), datetime.time(15, 43), 'F9 v1.0  B0004', 'CCAFS LC-40', 'Dragon demo flight C1, two CubeSats, barrel of Brouere cheese', 0, 'LEO (ISS)', 'NASA (COTS) NRO', 'Success', 'Failure (parachute)'),
 (datetime.date(2012, 5, 22), datetime.time(7, 44), 'F9 v1.0  B0005', 'CCAFS LC-40', 'Dragon demo flight C2', 525, 'LEO (ISS)', 'NASA (COTS)', 'Success', 'No attempt'),
 (datetime.date(2012, 10, 8), datetime.time(0, 35), 'F9 v1.0  B0006', 'CCAFS LC-40', 'SpaceX CRS-1', 500, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt'),
 (datetime.date(2013, 3, 1), datetime.time(15, 10), 'F9 v1.0  B0007', 'CCAFS LC-40', 'SpaceX CRS-2', 677, 'LEO (ISS)', 'NASA (CRS)', 'Success', 'No attempt')]

In [21]:
# Commercial Resupply Services (CRS) total payload mass carried by NASA
# Commercial Resupply Services (CRS) are a series of flights awarded by NASA for the delivery of cargo and supplies to the International Space Station (ISS) on commercially operated spacecraft
%sql select SUM(PAYLOAD_MASS__KG_) as Total_Payload_Mass_NASA from SPACEXDATASET where CUSTOMER like 'NASA (CRS)'

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[(45596,)]

In [22]:
# Falcon 9 v1.1 was the second version of SpaceX's Falcon 9 orbital launch vehicle. 
# Falcon 9 v1.1 was a significant evolution from Falcon 9 v1.0, with 60 percent more thrust and weight.
# Average payload mass carried by booster version F9 v1.1
%sql select AVG(payload_mass__kg_) as avg_payload_kg_F9_v11 from SPACEXDATASET where BOOSTER_VERSION like 'F9 v1.1'

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[(2928,)]

In [23]:
# The date when the first successful landing outcome in ground pad was acheived.
%sql select MIN(date) as first_succ_launch_gp from SPACEXDATASET where LANDING__OUTCOME like 'Success (ground pad)'

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[(datetime.date(2015, 12, 22),)]

In [24]:
# The names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000
%sql select BOOSTER_VERSION as succ_drone_ship from SPACEXDATASET where LANDING__OUTCOME like 'Success (drone ship)' and (payload_mass__kg_ between 4000 and 6000)

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('F9 FT B1022',), ('F9 FT B1026',), ('F9 FT  B1021.2',), ('F9 FT  B1031.2',)]

In [25]:
# the total number of successful and failure mission outcomes
%sql select count(LANDING__OUTCOME) as total_fail_succ from SPACEXDATASET where LANDING__OUTCOME like 'Success%' or LANDING__OUTCOME like 'Failure%'

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[(71,)]

In [26]:
# The names of the booster_versions which have carried the maximum payload mass.

In [27]:
%%sql
select BOOSTER_VERSION as heaviest_payload from SPACEXDATASET 
where PAYLOAD_MASS__KG_ in (select max(PAYLOAD_MASS__KG_) from SPACEXDATASET)

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('F9 B5 B1048.4',),
 ('F9 B5 B1049.4',),
 ('F9 B5 B1051.3',),
 ('F9 B5 B1056.4',),
 ('F9 B5 B1048.5',),
 ('F9 B5 B1051.4',),
 ('F9 B5 B1049.5',),
 ('F9 B5 B1060.2',),
 ('F9 B5 B1058.3',),
 ('F9 B5 B1051.6',),
 ('F9 B5 B1060.3',),
 ('F9 B5 B1049.7',)]

In [28]:
# The failed landing_outcomes in drone ship, their booster versions, and launch site names for in year 2015

In [42]:
%%sql 
select LANDING__OUTCOME, BOOSTER_VERSION, LAUNCH_SITE from SPACEXDATASET 
where year(DATE)='2015' and LANDING__OUTCOME like 'Failure%'

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('Failure (drone ship)', 'F9 v1.1 B1012', 'CCAFS LC-40'),
 ('Failure (drone ship)', 'F9 v1.1 B1015', 'CCAFS LC-40')]

In [43]:
# The count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) 
# between the date 2010-06-04 and 2017-03-20, in descending order

In [51]:
%%sql
select LANDING__OUTCOME, count(*) from SPACEXDATASET 
where DATE between '2010-06-04' and '2017-03-20' group by LANDING__OUTCOME
order by 2 DESC

 * ibm_db_sa://djd92226:***@2d46b6b4-cbf6-40eb-bbce-6251e6ba0300.bs2io90l08kqb1od8lcg.databases.appdomain.cloud:32328/bludb
Done.

[('No attempt', 10),
 ('Failure (drone ship)', 5),
 ('Success (drone ship)', 5),
 ('Controlled (ocean)', 3),
 ('Success (ground pad)', 3),
 ('Failure (parachute)', 2),
 ('Uncontrolled (ocean)', 2),
 ('Precluded (drone ship)', 1)]